body{
    background-color: #222D32;
}
.login_modal{
    margin-top: 200px;
}
.panel-default > .panel-heading{
    height: 60px;
   background-color: #337ab7;
    color:#fff;
}
.panel-default > .panel-heading h1{
    font-size: 20px;
    margin-top:10px;
}